.postCreate {
    background-color: var(--muh-background);
}
.postCreate__header{
    position: sticky !important;
    top: 0;
    /* background-color: white; */
    background-color: var(--ucla-blue);
    z-index: 100;
    border: 1px solid var(--ucla-blue);
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 77vw;
}

.postCreate__header > h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.postCreate__form{
    box-sizing: border-box;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.postCreate__form > form{
    display: flex;
    flex-direction: column;
}

.postCreate__form input, textarea{
    display: block;
    width: 97% !important;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.postCreate__form input {
    font-weight: bold;
}

.postCreate__form textarea {
    height: 15vh;
}

.postCreate__form button {
    /* display: inline-block; */
    /* width: 30%; */
    height: 3rem;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    margin: .9vw 0 ;
    border-radius: 20px;
    background-color: var(--ucla-blue);
    color: white;
}

.postCreate__form button:hover {
    background-color: var(--muh-color) !important;
    border-radius: 30px !important;
    /* color: var(--ucla-blue) !important; */
    transition: color 10ms ease-in-out !important;
}