.post{
    
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    padding: 0 70px;
}