.postList__container {
  margin-top: 5%;
  /* margin-left: auto; */
  /* margin-right: 5%; */
  margin-bottom: 5%;
}
.postList {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 80vw;
}

.UserLanding {
  display: flex;
  flex-direction: column;
  gap: 10%;
}