.post{
    cursor: pointer;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid var(--muh-background);
    border-top: 1px solid var(--muh-background);
    border-right: 1px solid var(--muh-background);
    border-left: 1px solid var(--muh-background);
    padding: 0 20px 20px;
    /* padding: 0 70px; */
    background-color: white;
    border-radius: 20px;
    /* flex: 0.7; */
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 19px
  }